.Column {
    margin: 50px 850px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 5px 5px rgb(70, 70, 70);
  padding: 20px 1px;
  border-radius: 5px;
  border: 1px solid #979797;
  gap: 15px;
  width: 400px;
  height: 100%;
}
.divv {
  background-color: rgb(110, 110, 110);
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  flex-direction: column;
  width: 80%;
}
